.button{
  display: inline-block;
  vertical-align: middle;
  padding: 0 0.2rem;
  height: 0.64rem;
  line-height: 0.64rem;
  color: azure;
  background-color: #1890ff;
  border-radius: 0.05rem;
  cursor: pointer;
}